<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div>Error, SSI circular inclusion.</div>

    <ul>
        <% result.error.forEach ((item) => { %>
        <li><%= item.join(' -> ') %></li>
        <% }); %>
    </ul>
</body>
</html>
